@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #3a1942;
  color: #fff;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.brand span {
  color: rgb(247, 176, 176);
}

.menu li {
  list-style: none;
}

.menu a {
  color: #fff;
  text-decoration: none;
}
