@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  width: 100%;
  height: 100vh;
  background: rgb(130, 28, 156);
  background: -moz-linear-gradient(
    180deg,
    rgba(130, 28, 156, 1) 0%,
    black 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(130, 28, 156, 1) 0%,
    black 100%
  );
  background: linear-gradient(180deg, rgba(130, 28, 156, 1) 0%, black 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#821c9c",endColorstr="#cb71ac",GradientType=1);
  color: #fff;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transition: 0.7s;
  padding: 30px 50px;
  z-index: 10;
}

header.down {
  background: #cfbe11;
  padding: 15px 50px;
  color: black;
}

header.down .brand {
  color: #fff;
}

header.down span {
  color: #821c9c;
}

header.down .menu .active a {
  color: #fff;
}

header.down .menu a {
  color: black;
}

header.down .menu a:hover {
  color: #fff;
  transition: ease-in 0.5s;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand {
  position: relative;
  color: #fff;
  animation: flip;
  animation-duration: 3s;
  transition: 0.7s;
}

.brand span {
  color: #cfbe11;
}

.brand h1 {
  font-size: 3em;
}

header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu li {
  list-style: none;
}

.menu a {
  position: relative;
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  letter-spacing: 2px;
  font-size: 1.2em;
  transition: 0.7s;
}

.menu .active a {
  color: #cfbe11;
}

.menu a:hover {
  color: #cfbe11;
  transition: ease-in 0.5s;
}

.main {
  margin: 0 auto;
  width: 80vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
}

.info-content span {
  color: #cfbe11;
}

.info-content h1 {
  font-size: 3em;
}

.download-cv {
  color: rgba(130, 28, 156, 1);
  padding: 10px 20px;
  background-color: #cfbe11;
  border: none;
  border-radius: 20px;
  margin-top: 10px;
  cursor: pointer;
  box-shadow: 1px 3px 11px -5px rgba(130, 28, 156, 1);
}

.download-cv:hover {
  background-color: #fff;
  box-shadow: none;
  transition: ease-in 0.5s;
}

.logo {
  font-size: 8em;
  text-align: center;
}

.logo span {
  color: #cfbe11;
}

.logo2 {
  font-size: 8em;
  color: #fff;
  cursor: default;
}

.logo2 span {
  color: #cfbe11;
}

.logo2:hover {
  animation: rubberBand;
  animation-duration: 3s;
}

.about {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  width: 100%;
  background: black;
  align-items: center;
}

.about img {
  height: auto;
  width: 80%;
  grid-column: 1/5;
  border: 7px solid black;
}

.about-info h2 {
  color: #cfbe11;
  font-size: 3em;
}

.about-info {
  grid-column: 5/10;
  padding: 3em;
  color: #fff;
}

.divider {
  height: 4px;
  width: 60px;
  background-color: #cfbe11;
  margin-top: 5px;
  margin-bottom: 2em;
}

.about p {
  margin-bottom: 1em;
  font-size: 1.2em;
}

.portfolio {
  width: 100%;

  background-color: black;
}

.portfolio-headings {
  width: 100%;
  padding: 7em;
}

.portfolio-headings h2 {
  color: #cfbe11;
  font-size: 3em;
}

.portfolio .container {
  width: 80vw;
  height: 80vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.card {
  width: 300px;
  background-color: #821c9c;
  border: 4px solid #cfbe11;
  height: 350px;
  margin: 1em;
}

.card__img {
  background-color: #fff;
}

.card__img video {
  width: 100%;
  height: 150px;
}

.card__title h2 {
  text-align: center;
  padding: 20px;
  color: #cfbe11;
}

.card__projects-links {
  display: flex;
  justify-content: space-evenly;
}

.card__projects-links a {
  color: #fff;
  text-decoration: none;
}

.card__projects-links i {
  font-size: 1.5em;
}

.card__projects-links i:hover {
  color: #cfbe11;
  transition: ease-in 0.5s;
}

.card .project-details {
  text-transform: uppercase;
  margin: 0 auto;
  margin: 1em;
  width: 60%;
  background-color: #fff;
}

.project-details-content {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 0.5em;
}

.card .project-details:hover {
  background-color: #cfbe11;
  box-shadow: none;
  transition: ease-in 0.5s;
}

.contact-section {
  background: rgb(0, 0, 0);
  background: -moz-linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(130, 28, 156, 1) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(130, 28, 156, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(130, 28, 156, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#821c9c",GradientType=1);
  margin-top: -2em;
}

.contact-headings {
  margin-left: 7em;
}

.contact-headings h2 {
  color: #cfbe11;
  font-size: 3em;
}

.container-contact {
  padding: 3em;
  margin: 0 auto;
  width: 80vw;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.form-contact {
  display: flex;
  flex-direction: column;
  width: 30vw;
  margin-top: 2em;
  margin-left: 4em;
}

.form-contact input {
  padding: 10px 20px;
  margin-bottom: 1em;
  background: none;
  border: none;
  border-bottom: 2px solid #fff;
  color: #fff;
}

.form-contact textarea {
  height: 150px;
  background: none;
  color: #fff;
  padding: 1.5em;
  border: 2px solid #fff;
}

.btn-submit {
  padding: 10px 20px;
  margin: 1em;
  border: none;
  text-transform: uppercase;
  background-color: #cfbe11;
  border-radius: 20px;
  color: #821c9c;
  cursor: pointer;
}

.btn-submit:hover {
  background-color: #fff;
  box-shadow: none;
  transition: ease-in 0.5s;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  background-color: #cfbe11;
}

.footer-content h2 {
  font-size: 2em;
}

.footer-content h5 {
  font-size: 1em;
  text-align: center;
}

.sotial-network {
  display: flex;
  justify-content: space-evenly;
  width: 300px;
  margin-top: 1em;
}

.sotial-network i {
  font-size: 1.5em;
  color: black;
}

.sotial-network i:hover {
  color: #821c9c;
  transition: ease-in 0.5s;
}

